@model TPDDSGrupo44.ViewModels.SearchsPerResultViewModel

@{
    ViewBag.Title = "Resultados Por Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados Por Búsqueda</h2>

<table class="table">

    <tr>
        <th>Terminal</th>
        <th>Fecha</th>
        <th>Cantidad de resultados</th>
    </tr>
    @foreach (var group in Model.busquedasPorResultados)
    {

        <tr>
            <td>
                <strong>
                @Html.Encode(group.Key.nombre)
                </strong>
            </td>
            <td>Todas las fechas</td>
            <td>
                @group.Value.Sum(g => g.Value)
            </td>
        </tr>
        foreach (var group2 in group.Value)
        {
            <tr><td></td>
                <td>
                    @Html.Encode(group2.Key.Date.ToString("dd-mm-yyyy"))
                </td>
                <td>
                   @group2.Value
                </td>
            </tr>

        }
    }

</table>

