@model IEnumerable<TPDDSGrupo44.Models.Busqueda>

@{
    ViewBag.Title = "Resultados Por Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados Por Búsqueda</h2>

<table class="table">


    @foreach (var group in Model.GroupBy(item => item.terminal))
    {

        <tr>
            <td>
                <strong>
                @Html.Encode(group.Key.nombre)
                    </strong>
</td><td></td>
            <td>
                @group.Sum(i => i.cantidadDeResultados)
            </td>
        </tr>
        foreach (var group2 in Model.GroupBy(item => new { item.terminal, item.fecha }))
        {
            if (group.Key == group2.Key.terminal)
            {
            <tr><td></td>
                <td>
                    @Html.Encode(group2.Key.fecha)
                </td>
                <td>
                   @group2.Sum(i => i.cantidadDeResultados)
                </td>
            </tr>

            }

        }
    }

</table>

