@model TPDDSGrupo44.ViewModels.SearchsPerDayViewModel

@{
    ViewBag.Title = "Búsquedas por Día";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Búsquedas por Día</h2>
<table class="table">

    <tr>
        <th>Día</th>
        <th>Cantidad de búsquedas</th>
    </tr>
    @foreach (var group in Model.busquedasPorDia)
        {

    <tr>
        <td>
            @Html.Encode(group.Key)
        </td>
        <td>
            @group.Count()
        </td>
    </tr>

    }

</table>
