
@{
    ViewBag.Title = "NoAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TPDDSGrupo44.ViewModels.BaseViewModel

<h2>Sin acceso</h2>

<p>Lo sentimos, pero no tienes acceso a esta funcionalidad. Puedes probar @Html.ActionLink("regresando al inicio","Index","Home").</p>